# Test Crosswalk Analysis

In [1]:
%load_ext autoreload
%autoreload 3

In [2]:
# Standard libraries
import logging
from pathlib import Path
import os
import sys

# 3rd party libraries
#import intake
import pandas as pd
import sqlalchemy as sa

# Local libraries
import pudl

logger=logging.getLogger()
logger.setLevel(logging.INFO)
handler = logging.StreamHandler(stream=sys.stdout)
formatter = logging.Formatter('%(message)s')
handler.setFormatter(formatter)
logger.handlers = [handler]

pudl_settings = pudl.workspace.setup.get_defaults()
#display(pudl_settings)

ferc1_engine = sa.create_engine(pudl_settings['ferc1_db'])
#display(ferc1_engine)

pudl_engine = sa.create_engine(pudl_settings['pudl_db'])
#display(pudl_engine)

#pudl_engine.table_names()
pudl_out = pudl.output.pudltabl.PudlTabl(pudl_engine, freq='AS') #annual frequency

In [3]:
cems_test = pudl.output.epacems.epacems(states=['ID'], years=[2020])

In [4]:
crosswalk_df = pudl_out.epacamd_eia()

In [6]:
filtered_crosswalk = pudl.analysis.epacamd_eia.filter_crosswalk(crosswalk_df, cems_test)

In [13]:
pudl.analysis.epacamd_eia.make_subplant_ids(filtered_crosswalk)

   source  target boiler_id  global_subplant_id  plant_id_epa emissions_unit_id_epa generator_id_epa  plant_id_eia  subplant_id
0       0       8      None                   0          7456                     1                1          7456            0
1       1       9      None                   1          7456                     2                2          7456            1
2       2      10      None                   2          7953                   CT1                1          7953            0
3       3      11      None                   3          7953                   CT2                2          7953            1
4       4      12      None                   4          7953                   CT3                3          7953            2
5       5      13      None                   5         55179                CTGEN1             CTG1         55179            0
6       5      14         1                   5         55179                CTGEN1             STG1         55179            0
7       6      15      None                   6         55733                  CT01                1         55733            0
8       7      16      None                   7         57028                   CT1              GTG         57028            0
9       7      17         1                   7         57028                   CT1              STG         57028            0

In [14]:
filtered_crosswalk

   plant_id_eia emissions_unit_id_epa  plant_id_epa generator_id_epa boiler_id generator_id
0          7456                     1          7456                1      None            1
1          7456                     2          7456                2      None            2
2          7953                   CT1          7953                1      None            1
3          7953                   CT2          7953                2      None            2
4          7953                   CT3          7953                3      None            3
5         55179                CTGEN1         55179             CTG1      None         CTG1
6         55179                CTGEN1         55179             STG1         1         STG1
7         55733                  CT01         55733                1      None            1
8         57028                   CT1         57028              GTG      None          GTG
9         57028                   CT1         57028              STG         1          STG